.ventanas{
    padding: 8px;
}




a{
    color: gold;
}

#sello{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-right: 50px;
}
